[submodule "Learnings"]
	path = Learnings
	url =https://github.com/PRATHAMESHG1234/Core2Web_dart_learnings
[submodule "projects"]
	path = projects
	url = https://github.com/PRATHAMESHG1234/Projects.git
