[submodule "Learnings"]
	path = Learnings
	url =https://github.com/PRATHAMESHG1234/Core2Web_dart_learnings
[submodule "projects"]
	path = projects
	url = https://github.com/PRATHAMESHG1234/Projects.git
[submodule "Core2Web_Projects"]
	path = Core2Web_Projects
	url = https://github.com/PRATHAMESHG1234/core2web_projects.git




